header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: darkorchid;
    padding: 0 30px;
    max-width: 100vw;
}

.left {
    flex: 1;
  }
  
  .right {
    display: flex;
    gap: 15px;
  }

.title{
    font-size: 200%;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: darkorchid;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 1s ease;
    cursor: pointer;
}

.botao:hover {
    background-color: darkorchid;
    color: #fff;
    transition: background-color 1s ease;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }
  

body{
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d3d3;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
    margin: 0 auto;
}

.main{
    flex: 1;
    min-width: 300px;
}

.welcome{
    font-size: 350%;
    font-family: 'Inter', Arial, sans-serif;
    color: darkorchid;
    margin-top: 100px;
}

.myStack{
    font-size: 500%;
    font-family: 'Inter', Arial, sans-serif;
    color: darkorchid;
    margin-top: 15px;
}

.name{
    font-size: 370%;
}

.me img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
}

.stack iconify-icon {
    color: darkorchid;
    margin: 8px;
  }

